.modal-title {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 40px 0;
}

.modal-controls {
  display: flex;
  justify-content: flex-end;
  gap: 6px;

}

.form-button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 8px 10px;
  border: 1px solid var(--color-main);
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    transition: all var(--main-transition);
  }
}